<h1>Signup</h1>

<fieldset>
	<%= form_for @user do |f| %>
		<%= render 'shared/error_messages', object: f.object %>

		<%= f.hidden_field :invitation_token %>
		<%= f.hidden_field :investor_id, value: @investor.id %>
		<%= render 'shared/user_form', f: f %>
		<%= f.submit "Submit", class: "btn btn-large btn-primary" %>
	<% end %>
</fieldset>