<fieldset>
	<% if current_user.global_admin? %>
		<div>
			<%= form_tag relationships_path do %>
				<%= hidden_field_tag :fund_id, @fund.id %>
				<%= label_tag :name, 'Add Investor' %>
				<%= text_field_tag :name, params[:name] %>
				<%= submit_tag "Submit" %>
			<% end %>
		</div>
	<% end %>
<div>
	<% if @fund.investors.present? && current_user.global_admin? %>
		<ul>
			<% @fund.investors.order("name ASC").each do |f| %>
				<li>
					<%= link_to f.name, f %>
					| <%= link_to 'Destroy', @fund.relationships.find_by_investor_id(f.id), method: :delete, data: {confirm: "Are you sure?"} %>
				</li>
			<% end %>
		</ul>
	<% end %>
</div>
<div>
	<% if current_user.global_admin? %>
		<div>Benchmarks are listed here.</div>
		<div>
			<% if @fund.benchmarks.present? %>
				<ul>
					<% @fund.benchmarks.each do |f| %>
						<li>
							<%= f.name %> | <%= link_to 'Destroy', @fund.trackers.find_by_benchmark_id(f.id), method: :delete, data: {confirm: "Are you sure?"} %>
						</li>
					<% end %>
				</ul>
			<% end %>
		</div>

	<% end %>
</div>
</fieldset>