<h1> Fund Index - <%= Date.today.strftime("%b %d, %Y") %></h1>

<div class="row">
	<div class="span6 offset3">
		<% @funds.each do |f| %>
			<li>
				<%= link_to f.name, f %>
				| <%= link_to 'Edit', edit_fund_path(f) %>
				| <%= link_to 'Destroy', f, method: :delete, data: {confirm: "You sure?"} %>
			</li>
		<% end %>
	</div>
</div>

<p></p>
<div class="row">
	<div class="span6 offset3">
		<%= link_to "Create new fund", new_fund_path, class: "btn btn-large btn-primary" %>
	</div>
</div>

<% if current_user.global_admin? %>
	<h2>Import Data</h2>

	<%= form_tag import_months_path, multipart: true do %>
		<%= file_field_tag :file %>
		<%= submit_tag "Import" %>
	<% end %>

<% end %>
