<h1> Fund Management</h1>

<div>
	<% Fund::VALID_FUND_TYPES.each do |i| %>
		<% if current_user.investor.funds.where(fund_type: i, bmark:false).present? %>	
			<h2><%= i %></h2>
			<table style="width:55%; margin-bottom:30px">
					<tr>
						<th>Fund</th>
						<th>Edit Fund</th>
						<th>Edit Returns</th>
						<th>Delete Fund</th>
					</tr>
				<% current_user.investor.funds.where(fund_type: i, bmark: false).order("name").each do |f| %>
					<tr>
						<td style="width:250px; text-align:left"><%= link_to f.name, f %></td>
						<td><%= link_to 'Edit', edit_fund_path(f) %></td>
						<td><%= link_to 'Edit Returns', months_edit_for_fund_path(f) %></td>
						<td><%= link_to 'Delete', f, method: :delete, data: {confirm: "Are you sure?"} %></td>
					</tr>
				<% end %>
			</table>
		<% end %>
	<% end %>
</div>


<h2>Indices</h2>
<table style="width:55%">
	<tr>
		<th>Index</th>
		<th>Edit Index</th>
		<th>Edit Returns</th>
		<th>Delete</th>
	</tr>
	<% @indices.each do |i| %>
		<tr>
			<td style="text-align:left"><%= link_to i.name, i %></td>
				<% if i.core_bmark? %>
					<td>--</td>
					<td>--</td>
					<td>--</td>
				<% elsif i.core_bmark == false || current_user.global_admin? %>
					<td><%= link_to 'Edit', edit_fund_path(i) %></td>
					<td><%= link_to 'Edit Returns', months_edit_for_fund_path(i) %></td>
					<td><%= link_to 'Delete', i, method: :delete, data: {confirm: "Are you sure?"}  %></td>
				<% end %>
		</tr>
	<% end %>
</table>

<% if current_user.global_admin? %>
	<h2>Import Data</h2>

	<%= form_tag import_months_path, multipart: true do %>
		<%= file_field_tag :file %>
		<%= submit_tag "Import" %>
	<% end %>

<% end %>