<h1>Recent Returns</h1>

<table style="width:55%">
	<tr>
		<th>Fund</th>
		<th>Most Recent Month</th>
		<th>12 Month Return</th>
	</tr>
	<% @parent_array.each do |f| %>
		<tr>
			<td style="text-align:left"><%= link_to f[0].name, f[0] %></td>

			<% if f[1].kind_of?(Date) %>
				<td><%= f[1].strftime("%b-%y") %></td>
			<% else %>
				<td><%= f[1] %>
			<% end %>

			<% if f[2].kind_of?(Float) %>
				<td><%= number_to_percentage(f[2]*100, precision: 2) %></td>
			<% else %>
				<td><%= f[2] %></td>
			<% end %>
		</tr>
	<% end %>
</table>
