<h1><%= @fund.name %> (<%= @fund.months.first.mend.strftime("%b %y") %>-<%= @fund.months[-2].mend.strftime("%b %y") %>)</h1>

<div>
	<br/>
	<table>
		<tr>
			<th>
			<th>Ann Return</th>
			<th>Ann Volatility</th>
			<th>Max Drawdown</th>
			<th>Current Drawdown</th>
			<th>Highwater Date</th>
			<th>Beta</th>
			<th>Alpha</th>
			<th>Correlation</th>
			<th>Up Capture</th>
			<th>Down Capture</th>
		</tr>
		<% @funds_array.each do |f|%>
			<tr>
				<td><%= f.name %></td>
				<td><%= number_to_percentage(ann_return_by_date(f), precision: 2) %></td>
				<td><%= number_to_percentage(ann_st_dev(f), precision: 2) %></td>
				<td><%= number_to_percentage(max_drawdown(f), precision: 2) %></td>
				<td><%= number_to_percentage(current_drawdown(f), precision: 2) %></td>
				<td><%= highwater_date(f).strftime("%b-%y") %></td>
				<% if f == @fund %>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
				<% else %>
					<td><%= number_with_precision(beta(@fund, f)/100.0, precision: 2) %></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
				<% end %>
			</tr>
		<% end %>
	</table><br/>

	<% go = [] %>
	<% @fund.months.each do |f| %>
		<% go << f unless f.id.nil? %>
	<% end %>

	<div style="padding:10px">
		<%= content_tag :div, "", id: (@show_var + "_chart"), data: {months: go} %><br/>

		<%= link_to 'AUM', controller: "funds", action: "show", show_var: "aum" %>
		| <%= link_to 'Gross/Net', controller: "funds", action: "show", show_var: "gross_net" %>
		| <%= link_to 'Return', controller: "funds", action: "show", show_var: "cumulative_return" %>
	</div><br/>


	<table>
		<tr>
			<td></td>
			<td>Jan</td>
			<td>Feb</td>
			<td>Mar</td>
			<td>Apr</td>
			<td>May</td>
			<td>Jun</td>
			<td>Jul</td>
			<td>Aug</td>
			<td>Sep</td>
			<td>Oct</td>
			<td>Nov</td>
			<td>Dec</td>
			<td>YTD</td>
		</tr>
		<% @parent_array.each do |p_index| %>
			<tr>
				<% p_index.each do |c_index| %>
					<td style="text-align:right">
						<% if c_index.present? %>
							<% if c_index > 1000 %>
								<%= c_index %>
							<% else %>
								<%= number_to_percentage(c_index, precision: 2) %>
							<% end %>
						<% end %>
					</td>
				<% end %>
			</tr>
		<% end %>
	</table>
</div>

<%= render 'show_admin_info' %>