
<% if @fund_dates[0].present? %>
<h1><%= @fund.name %></h1>

<div>
	<h2>Performance Comparison</h2>
	<% if @new_funds_array.count <= 3 %>	
		<table>
			<caption align="bottom">
				Date range is <%= @new_fund_dates[0].strftime("%b-%y") %> to <%= @new_fund_dates[1].strftime("%b-%y") %>.
				<% if @removed_funds.present? %>
					<% @removed_funds.each do |f| %>
						<% if f == @removed_funds[0] %>
							<%= f.name %>
						<% else %>
							and <% f.name %>
						<% end %>
					<% end %>
					was removed due to a mismatch in date ranges.
				<% end %>
			</caption>		
			<tr>
				<th width="100px"></th>
				<th>Ann Return</th>
				<th>Ann Volatility</th>
				<th>Current Drawdown</th>
				<th>Highwater Date</th>
				<th>Beta</th>
				<th>Alpha</th>
				<th>Correlation</th>
				<th>Up Capture</th>
				<th>Down Capture</th>
				<th>Remove</th>
			</tr>
			<% @new_funds_array.each do |f| %>
				<tr>
					<td><%= link_to truncate(f.name, length: 20), f %></td>
					<td><%= number_to_percentage(ann_return_by_date(f, @new_fund_dates[0], @new_fund_dates[1])*100.0, precision: 2) %></td>
					<td><%= number_to_percentage(ann_st_dev(f, @new_fund_dates[0], @new_fund_dates[1])*100.0, precision: 2) %></td>
					<td><%= number_to_percentage(current_drawdown(f, @new_fund_dates[0], @new_fund_dates[1]), precision: 2) %></td>
					<td><%= highwater_date(f, @new_fund_dates[0], @new_fund_dates[1]).strftime("%b-%y") %></td>
					<% if f == @fund %>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td>X</td>
					<% else %>
						<td><%= number_with_precision(beta(@fund, f, @new_fund_dates[0], @new_fund_dates[1]), precision: 2) %></td>
						<td><%= number_to_percentage(alpha(@fund, f, @new_fund_dates[0], @new_fund_dates[1])*100.0, precision: 2) %></td>
						<td><%= number_to_percentage(correlation(@fund, f, @new_fund_dates[0], @new_fund_dates[1])*100.0, precision: 2) %></td>
						<td>
							<%= number_to_percentage(up_capture(@fund,f, @new_fund_dates[0], @new_fund_dates[1])*100.0, precision: 2) %>
						</td>
						<td>
							<%= number_to_percentage(down_capture(@fund,f, @new_fund_dates[0], @new_fund_dates[1])*100.0, precision: 2) %>
						</td>
						<% if !@fund.trackers.where(user_id: nil).pluck(:benchmark_id).include?(f.id) %>
							<td><%= link_to 'X', @fund.trackers.find_by_benchmark_id_and_user_id(f.id, current_user.id), method: :delete %></td>
						<% else %>
							<td>X</td>
						<% end %>
					<% end %>
				</tr>
			<% end %>
		</table>
	<% else %>
		<table>
			<caption align="bottom">
				Date range is <%= @new_fund_dates[0].strftime("%b-%y") %> to <%= @new_fund_dates[1].strftime("%b-%y") %>.
				<% if @removed_funds.present? %>
					<% @removed_funds.each do |f| %>
						<% if f == @removed_funds[0] %>
							<%= f.name %>
						<% else %>
							and <% f.name %>
						<% end %>
					<% end %>
					was removed due to a mismatch in date ranges.
				<% end %>
			</caption>
			<tr>
				<th>
				<th>Ann Return</th>
				<th>Ann Volatility</th>
				<th>Beta to <%= @fund_bmark_true[0].name %></th>
				<th>Alpha to <%= @fund_bmark_true[0].name %></th>
				<th>Correl to <%= @fund_bmark_true[0].name %></th>
				<th>Beta to <%= @fund_bmark_true[1].name %></th>
				<th>Alpha to <%= @fund_bmark_true[1].name %></th>				
				<th>Correl to <%= @fund_bmark_true[1].name %></th>
				<th>Remove</th>
			</tr>
			<% @new_funds_array.each do |f| %>
				<tr>
					<td><%= link_to truncate(f.name, length: 24), f %></td>
					<td><%= number_to_percentage(ann_return_by_date(f, @new_fund_dates[0], @new_fund_dates[1])*100.0, precision: 2) %></td>
					<td><%= number_to_percentage(ann_st_dev(f, @new_fund_dates[0], @new_fund_dates[1])*100.0, precision: 2) %></td>
					<td><%= number_with_precision(beta(f, @fund_bmark_true[0], @new_fund_dates[0], @new_fund_dates[1]), precision: 2) %></td>
					<td><%= number_to_percentage(alpha(f, @fund_bmark_true[0], @new_fund_dates[0], @new_fund_dates[1])*100.0, precision: 2) %></td>
					<td><%= number_to_percentage(correlation(f, @fund_bmark_true[0], @new_fund_dates[0], @new_fund_dates[1])*100.0, precision: 2) %></td>
					<td><%= number_with_precision(beta(f, @fund_bmark_true[1], @new_fund_dates[0], @new_fund_dates[1]), precision: 2) %></td>
					<td><%= number_to_percentage(alpha(f, @fund_bmark_true[1], @new_fund_dates[0], @new_fund_dates[1])*100.0, precision: 2) %></td>
					<td><%= number_to_percentage(correlation(f, @fund_bmark_true[1], @new_fund_dates[0], @new_fund_dates[1])*100.0, precision: 2) %></td>
					<% if f != @fund && !@fund.trackers.where(user_id: nil).pluck(:benchmark_id).include?(f.id) %>
						<td>
							<%= link_to 'X', @fund.trackers.find_by_benchmark_id_and_user_id(f.id, current_user.id), method: :delete %>
						</td>
					<% else %>
						<td>X</td>
					<% end %>
				</tr>
			<% end %>	
		</table>
	<% end %>

	<div class="row" style="margin-left: 5%; margin-right:5%">
		<div style="float:left">
			<%= form_tag @fund, method: 'get' do %>
				<div class="span2">
					<%= text_field_tag :first_date, params[:first_date],
					data: {maxdate: @max_month_for_datepicker , 
						mindate: @min_month_for_datepicker,
						defdate: @default_date_for_start,
						yearrange: @year_range},
					placeholder: "Start date", class: "date-picker" %>
				</div>
				<div class="span2">
					<%= text_field_tag :last_date, params[:last_date], 
					data: {maxdate: @max_month_for_datepicker , 
						mindate: @min_month_for_datepicker,
						defdate: @default_date_for_end,
						year: @year_range},
					placeholder: "End date", class: "date-picker" %>
				</div>
				<%= submit_tag "Submit", class: "btn btn-medium btn-primary", name: nil %>
			<% end %>
		</div>

		<div class="span3" style="float:right; margin-top:0px">
			<%= form_tag trackers_path do %>
				<%= hidden_field_tag :fund_id, @fund.id %>
				<%= text_field_tag :benchmark_name, params[:benchmark_name], data: {autocomp: @arr_for_benchmark_autocomplete}, placeholder: "Enter fund or index..." %>
				<div style="float:right; margin-left:3px">
					<%= submit_tag "Add", class: "btn btn-medium btn-primary" %>
				</div>
			<% end %>
		</div>
	</div>


	<h2>Cumulative Return Graph - Return of $1</h2>
	<fieldset style="width:70%">
		<%= content_tag :div, "", id: ("cumulative_return_chart"), data: {months: @chart_arr, names: @new_fund_names, keys: @ykeys_for_chart} %>
	</fieldset><br/>

	<h2>Performance Comparison Over Time Periods</h2>
	<table>
		<caption align="bottom">All returns longer than 1 year are annualized.  The most recent month is <%= @new_fund_dates[1].strftime("%b-%y") %>.</caption>
		<tr>
			<th></th>
			<% @perf_header.each do |f| %>
				<th><%= f %></th>
			<% end %>
		</tr>
		<% @new_funds_array.each do |f| %>
			<tr>
				<td><%= link_to f.name, f %></td>
				<% @perf_months_ago.each do |n| %>
					<% if start_end_dates(f)[0] <= n %>
						<td>
							<%= number_to_percentage(calc_ann_return(get_returns( f, n, @new_fund_dates[1]))*100.0, precision: 2) %>
						</td>
					<% else %>
						<td></td>
					<% end %>
				<% end %>
			</tr>
		<% end %>
	</table><br/>
	
	<table>
		<caption align="bottom">
			<% if @new_fund_dates[0].month != Date.new(2000,1,1).month && @fund_dates[0].year >= @new_fund_dates[1].years_ago(8).year %>
				<%= @fund.name %> data is partial in <%= @new_fund_dates[0].year %>.
			<% end %>
		</caption>
		<tr>
			<th></th>
			<% @years_header.each do |f| %>
				<th><%= f %></th>
			<% end %>
		</tr>
		<% @all_funds_and_years.each do |f| %>
			<tr>
				<% for i in 0..9 %>
					<% if f[i].present? %>
						<% if f[i].kind_of?(Fund) %>
							<td><%= link_to f[i].name, f[i] %></td>
						<% else %>
							<td><%= number_to_percentage(f[i] * 100.0, precision: 2) %></td>
						<% end %>
					<% else %>
						<td></td>
					<% end %>
				<% end %>
			</tr>
		<% end %>
	</table><br/>

	<h2><%= @fund.name %> Historical Performance</h2>
	<table>
		<tr>
			<td></td>
			<td>Jan</td>
			<td>Feb</td>
			<td>Mar</td>
			<td>Apr</td>
			<td>May</td>
			<td>Jun</td>
			<td>Jul</td>
			<td>Aug</td>
			<td>Sep</td>
			<td>Oct</td>
			<td>Nov</td>
			<td>Dec</td>
			<td>YTD</td>
		</tr>
		<% @parent_array.each do |p_index| %>
			<tr>
				<% p_index.each do |c_index| %>
					<td style="text-align:right">
						<% if c_index.present? %>
							<% if c_index > 1000 %>
								<%= c_index %>
							<% else %>
								<%= number_to_percentage(c_index, precision: 2) %>
							<% end %>
						<% end %>
					</td>
				<% end %>
			</tr>
		<% end %>
	</table>
</div>



<% else %>

	<h1><%= @fund.name %></h1>

<% end %>

<%= render 'show_admin_info' %>