
<% if @fund_dates[0].present? %>
<h1><%= @fund.name %></h1>

<div>
	<h2>Performance Comparison</h2>
	<table>
		<caption align="bottom">
			Data range is <%= @new_fund_dates[0].strftime("%b-%y") %> to <%= @new_fund_dates[1].strftime("%b-%y") %>.
			<% if @new_fund_dates[1] != @fund_dates[1] %>
				 Returns will include <%= @fund_dates[1].strftime("%b-%y") %> when data for indices is received.
			<% end %>
			<% if @removed_funds.present? %>
				<% @removed_funds.each do |f| %>
					<% if f == @removed_funds[0] %>
						<%= f.name %>
					<% else %>
						and <% f.name %>
					<% end %>
				<% end %>
				will be added when recent month data is received.
			<% end %>

		</caption>		
		<tr>
			<th width="100px"></th>
			<th>Ann Return</th>
			<th>Ann Volatility</th>
			<th>Current Drawdown</th>
			<th>Highwater Date</th>
			<th>Beta</th>
			<th>Alpha</th>
			<th>Correlation</th>
			<th>Up Capture</th>
			<th>Down Capture</th>
		</tr>
		<% @funds_array.each do |f| %>
			<tr>
				<td><%= link_to f.name, f %></td>
				<td><%= number_to_percentage(ann_return_by_date(f, @new_fund_dates[0], @new_fund_dates[1])*100.0, precision: 2) %></td>
				<td><%= number_to_percentage(ann_st_dev(f, @new_fund_dates[0], @new_fund_dates[1])*100.0, precision: 2) %></td>
				<td><%= number_to_percentage(current_drawdown(f), precision: 2) %></td>
				<td><%= highwater_date(f).strftime("%b-%y") %></td>
				<% if f == @fund %>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
				<% else %>
					<td><%= number_with_precision(beta(@fund, f, @new_fund_dates[0], @new_fund_dates[1]), precision: 2) %></td>
					<td><%= number_to_percentage(alpha(@fund, f, @new_fund_dates[0], @new_fund_dates[1])*100.0, precision: 2) %></td>
					<td><%= number_to_percentage(correlation(@fund, f, @new_fund_dates[0], @new_fund_dates[1])*100.0, precision: 2) %></td>
					<td><%= number_to_percentage(up_capture(@fund,f, @new_fund_dates[0], @new_fund_dates[1])*100.0, precision: 2) %></td>
					<td><%= number_to_percentage(down_capture(@fund,f, @new_fund_dates[0], @new_fund_dates[1])*100.0, precision: 2) %></td>
				<% end %>
			</tr>
		<% end %>
	</table><br/>

	<h2>Cumulative Return Graph</h2>
	<fieldset style="width:70%">
		<%= content_tag :div, "", id: ("cumulative_return_chart"), data: {months: @chart_arr, names: @new_fund_names} %>
	</fieldset>

	<h2>Performance Comparison Over Time Periods</h2>
	<table>
		<caption align="bottom">All returns longer than 1 year are annualized.  The most recent month is <%= @new_fund_dates[1].strftime("%b-%y") %>.</caption>
		<tr>
			<th></th>
			<% @perf_header.each do |f| %>
				<th><%= f %></th>
			<% end %>
		</tr>
		<% @new_funds_array.each do |f| %>
			<tr>
				<td><%= link_to f.name, f %></td>
				<% @perf_months_ago.each do |n| %>

					<% if f == @fund %>
						<% if @new_fund_dates[0] <= n %>
							<td>
								<%= number_to_percentage(calc_ann_return(get_returns( f, n, @new_fund_dates[1]))*100.0, precision: 2) %>
							</td>
						<% else %>
							<td></td>
						<% end %>
					<% else %>
						<td>
							<%= number_to_percentage(calc_ann_return(get_returns( f, n, @new_fund_dates[1]))*100.0, precision: 2) %>
						</td>
					<% end %>
				<% end %>
			</tr>
		<% end %>
	</table><br/>
	
	<table>
		<caption align="bottom">
			<% if @fund_dates[0].month != Date.new(2000,1,1).month %>
				<%= @fund.name %> data is partial in <%= @new_fund_dates[0].year %>.
			<% end %>
		</caption>
		<tr>
			<th></th>
			<% @years_header.each do |f| %>
				<th><%= f %></th>
			<% end %>
		</tr>
		<% @all_funds_and_years.each do |f| %>
			<tr>
				<% for i in 0..9 %>
					<% if f[i].present? %>
						<% if f[i].kind_of?(Fund) %>
							<td><%= link_to f[i].name, f[i] %></td>
						<% else %>
							<td><%= number_to_percentage(f[i] * 100.0, precision: 2) %></td>
						<% end %>
					<% else %>
						<td></td>
					<% end %>
				<% end %>
			</tr>
		<% end %>
	</table><br/>

	<h2><%= @fund.name %> Historical Performance</h2>
	<table>
		<tr>
			<td></td>
			<td>Jan</td>
			<td>Feb</td>
			<td>Mar</td>
			<td>Apr</td>
			<td>May</td>
			<td>Jun</td>
			<td>Jul</td>
			<td>Aug</td>
			<td>Sep</td>
			<td>Oct</td>
			<td>Nov</td>
			<td>Dec</td>
			<td>YTD</td>
		</tr>
		<% @parent_array.each do |p_index| %>
			<tr>
				<% p_index.each do |c_index| %>
					<td style="text-align:right">
						<% if c_index.present? %>
							<% if c_index > 1000 %>
								<%= c_index %>
							<% else %>
								<%= number_to_percentage(c_index, precision: 2) %>
							<% end %>
						<% end %>
					</td>
				<% end %>
			</tr>
		<% end %>
	</table>
</div>

<%= render 'show_admin_info' %>

<% else %>

	<h1><%= @fund.name %></h1>

<% end %>