<% if current_user %>
<ul>
	<li><%= link_to_unless_current 'Recent Returns', root_path %></li>
	<li><%= link_to_unless_current 'Highwater Mark', highwater_mark_path %></li>
	--------------------
	<% if current_user.global_admin? %>
		<li><%= link_to_unless_current 'HF Index', funds_path %></li>
		<li><%= link_to_unless_current 'User Index', users_path %></li>
		<li><%= link_to_unless_current 'Investor Index', investors_path %></li>
		--------------------
	<% end %>
		<li>My Funds</li>
		<% Fund::VALID_FUND_TYPES.each do |i| %>
			<% if current_user.investor.funds.where(fund_type: i).present? %>
				<li><%= i %><li>
			<% end %>
			<% current_user.investor.funds.where(fund_type: i).each do |f| %>
				<li style="margin-left:10px">
					<%= link_to_unless_current truncate(f.name, length: 20), f %>
				</li>
			<% end %>
		<% end %>
</ul>
<% end %>